#header {
    background-color : rgba(184, 255, 238, 0.8);
    font-size : 17pt;
    font-family : sans-serif;
    padding : 17pt;
    text-align : center;
}

#footer {
    background-color : rgba(227, 255, 248, 0.25);
    font-size : 11pt;
    font-family : sans-serif;
    padding : 15pt;
    text-align : center;
}

#inputForm {
    font-size : 11pt;
    text-align: left;
}

#linkForm {
    font-size : 17pt;
    text-align: center;
    padding : 17pt;
}

#content {
    background-color : rgba(198, 255, 241, 0.49);
    font-family : sans-serif;
    padding : 17pt;
}

.res-table{
    border-collapse:collapse;
}

#div-res-table {
    overflow: auto;
    max-height: 250px;
}

.res-table-header{
    text-align:center;
    background:none repeat scroll 0 0 #b9eade;
    border-bottom:1px solid #BBBBBB;
    padding:14px;
}

.res-table-odd-row{
    text-align:center;
    border-top:1px solid #BBBBBB;
}

.res-table-even-row{
    text-align:center;
    background:none repeat scroll 0 0 #F9F9F9;
    border-top:1px solid #BBBBBB;
}