form {
    background-color : rgba(198, 255, 241, 0.49);
    font-size : 17pt;
    font-family : sans-serif;
    padding : 17pt;
    text-align: center;
}

#header {
    background-color : rgba(184, 255, 238, 0.8);
    font-size : 17pt;
    font-family : sans-serif;
    padding : 17pt;
}

#h_image {
    position : fixed;
    top : 8px;
    right : 8px;
}

#footer {
    background-color : rgba(227, 255, 248, 0.25);
    font-size : 11pt;
    font-family : sans-serif;
    padding : 15pt;
    text-align : center;
}